/*---------------------- General styles------------------------------- */
body {
  font-family: "Nunito", sans-serif;
  background-color: #fbfdff;
  max-height: 100vh;
  overflow: hidden;
}

/* .image {
  width: 600px;
} */

a.btn {
  width: 100%;
  background-color: hsl(170, 55%, 50%);
}

.primary-color {
  color: hsl(170, 55%, 50%);
}

/* These styles apply for screens with a max width of 700px */
@media (max-width: 900px) {
  .social-image {
    display: none;
  }

  .login {
    text-align: center;
    max-width: 400px;
    width: 95%;
    margin: 4rem auto;
  }
}
